.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
outputs/
.ipynb_checkpoints/

logs/*
models/*
data/**/*
!logs/.gitkeep
!models/.gitkeep
!data/*/
!data/**/.gitkeep
